<div class="topic-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        
        <h1 class="text-center">Add Comment</h1>
        
        <%= form_for @comment do |f|%>
          <div>
            <%= f.label :content %>
            <%= f.text_area :content, class: "form-control"%>
          </div>
           <%= f.text_field :topic_id, class: "form-control",  value: @topic_id %>
           <% if logged_in? %>
           <%= f.submit "投稿", class: "btn btn-black btn-block" %>
          <% end%>
          
        <% end %>
        
        
        
      </div>
    </div> 
  </div>
</div>